body {
  font-family: "Exo 2", sans-serif;
}

/*
header{
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

footer{
    border-top: 2px solid white;
    margin-top: 20px;
}

.padrao{
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 15px;
}*/
