{% extends 'base.html.twig' %}
{% block conteudo %}

    <div class='table-responsive container p-3'>
        <form action="{{ url('editarUsuario/'~usuario.id_usuario) }}" method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ usuario.nome }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="mail" class="form-control" id="email" name="email" value="{{ usuario.email }}">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">senha</label>
                <input type="mail" class="form-control" id="senha" name="senha" value="">
            </div>
            <select class="form-select mb-3" name='status'>
                <option value="0" {% if usuario.status == 0 %}selected{% endif %}>Inativo</option>
                <option value="1" {% if usuario.status == 1 %}selected{% endif %}>Ativo</option>
            </select>
           
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Salvar Alteraçoes</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza de que deseja realizar essas alteraçoes no usuario?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-warning">Confirmar Alteraçoes</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
</div>
{% endblock %}