<div class="bg-dark-blue text-light h-100 min-vh-100 p-2">

    <h1>Menu</h1>

    <p class="text-secondary">Administraçao<p>

    <div class="list-group w-100 list-group-flush">
      <a href="{{ url('Admin/posts/listar') }}" class="list-group-item list-group-item-action-dark-blue bg-dark-blue text-light">Posts</a>
      <a href="{{ url('Admin/categorias/listar') }}" class="list-group-item list-group-item-action-dark-blue bg-dark-blue text-light">Categorias</a>
      <a href="{{ url('Admin/usuarios/listar') }}" class="list-group-item list-group-item-action-dark-blue bg-dark-blue text-light">Usuários</a>
    </div>

</div>
